In [16]:
# http://pandas.pydata.org/pandas-docs/version/0.15.2/10min.html
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random as rd

In [27]:
rd.seed(42) # <= for random, not numpy
np.random.seed(42) # <= for numpy
dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [28]:
df

                   A         B         C         D
2013-01-01  0.496714 -0.138264  0.647689  1.523030
2013-01-02 -0.234153 -0.234137  1.579213  0.767435
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730
2013-01-04  0.241962 -1.913280 -1.724918 -0.562288
2013-01-05 -1.012831  0.314247 -0.908024 -1.412304
2013-01-06  1.465649 -0.225776  0.067528 -1.424748

In [7]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })

In [8]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [9]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [29]:
# df2.<TAB>

In [30]:
df.head()

                   A         B         C         D
2013-01-01  0.496714 -0.138264  0.647689  1.523030
2013-01-02 -0.234153 -0.234137  1.579213  0.767435
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730
2013-01-04  0.241962 -1.913280 -1.724918 -0.562288
2013-01-05 -1.012831  0.314247 -0.908024 -1.412304

In [31]:
df.tail(2)

                   A         B         C         D
2013-01-05 -1.012831  0.314247 -0.908024 -1.412304
2013-01-06  1.465649 -0.225776  0.067528 -1.424748

In [32]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [140]:
df.columns[:-1]

Index([u'A', u'B', u'C'], dtype='object')

In [34]:
df.values

array([[ 0.49671415, -0.1382643 ,  0.64768854,  1.52302986],
       [-0.23415337, -0.23413696,  1.57921282,  0.76743473],
       [-0.46947439,  0.54256004, -0.46341769, -0.46572975],
       [ 0.24196227, -1.91328024, -1.72491783, -0.56228753],
       [-1.01283112,  0.31424733, -0.90802408, -1.4123037 ],
       [ 1.46564877, -0.2257763 ,  0.0675282 , -1.42474819]])

In [35]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.081311 -0.275775 -0.133655 -0.262434
std    0.861950  0.862828  1.168366  1.187681
min   -1.012831 -1.913280 -1.724918 -1.424748
25%   -0.410644 -0.232047 -0.796872 -1.199800
50%    0.003904 -0.182020 -0.197945 -0.514009
75%    0.433026  0.201119  0.502648  0.459144
max    1.465649  0.542560  1.579213  1.523030

In [36]:
df.T # tranpose Matrix

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    0.496714   -0.234153   -0.469474    0.241962   -1.012831    1.465649
B   -0.138264   -0.234137    0.542560   -1.913280    0.314247   -0.225776
C    0.647689    1.579213   -0.463418   -1.724918   -0.908024    0.067528
D    1.523030    0.767435   -0.465730   -0.562288   -1.412304   -1.424748

In [42]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2013-01-06  1.465649 -0.225776  0.067528 -1.424748
2013-01-05 -1.012831  0.314247 -0.908024 -1.412304
2013-01-04  0.241962 -1.913280 -1.724918 -0.562288
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730
2013-01-02 -0.234153 -0.234137  1.579213  0.767435
2013-01-01  0.496714 -0.138264  0.647689  1.523030

In [43]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  1.523030  0.647689 -0.138264  0.496714
2013-01-02  0.767435  1.579213 -0.234137 -0.234153
2013-01-03 -0.465730 -0.463418  0.542560 -0.469474
2013-01-04 -0.562288 -1.724918 -1.913280  0.241962
2013-01-05 -1.412304 -0.908024  0.314247 -1.012831
2013-01-06 -1.424748  0.067528 -0.225776  1.465649

In [48]:
# df.sort(columns='B') # deprecated
df.sort_values(by=('B'))

                   A         B         C         D
2013-01-04  0.241962 -1.913280 -1.724918 -0.562288
2013-01-02 -0.234153 -0.234137  1.579213  0.767435
2013-01-06  1.465649 -0.225776  0.067528 -1.424748
2013-01-01  0.496714 -0.138264  0.647689  1.523030
2013-01-05 -1.012831  0.314247 -0.908024 -1.412304
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730

In [49]:
df['A']

2013-01-01    0.496714
2013-01-02   -0.234153
2013-01-03   -0.469474
2013-01-04    0.241962
2013-01-05   -1.012831
2013-01-06    1.465649
Freq: D, Name: A, dtype: float64

In [50]:
df[0:3]

                   A         B         C         D
2013-01-01  0.496714 -0.138264  0.647689  1.523030
2013-01-02 -0.234153 -0.234137  1.579213  0.767435
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730

In [52]:
df['2013-01-02':'2013-01-04']

                   A         B         C         D
2013-01-02 -0.234153 -0.234137  1.579213  0.767435
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730
2013-01-04  0.241962 -1.913280 -1.724918 -0.562288

In [55]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [53]:
# DatetimeIndex magic!
df['20130102':'20130104']

                   A         B         C         D
2013-01-02 -0.234153 -0.234137  1.579213  0.767435
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730
2013-01-04  0.241962 -1.913280 -1.724918 -0.562288

In [61]:
df.loc[dates[0]]

A    0.496714
B   -0.138264
C    0.647689
D    1.523030
Name: 2013-01-01 00:00:00, dtype: float64

In [60]:
df.loc[:dates[0]]

                   A         B         C        D
2013-01-01  0.496714 -0.138264  0.647689  1.52303

In [57]:
df.loc[:,['A','B']]

                   A         B
2013-01-01  0.496714 -0.138264
2013-01-02 -0.234153 -0.234137
2013-01-03 -0.469474  0.542560
2013-01-04  0.241962 -1.913280
2013-01-05 -1.012831  0.314247
2013-01-06  1.465649 -0.225776

In [62]:
df.loc['20130102':'20130104',['A','B']]

                   A         B
2013-01-02 -0.234153 -0.234137
2013-01-03 -0.469474  0.542560
2013-01-04  0.241962 -1.913280

In [65]:
df.loc['20130102':'20130104',['A','B']].shape

(3, 2)

In [63]:
df.loc['20130102',['A','B']]

A   -0.234153
B   -0.234137
Name: 2013-01-02 00:00:00, dtype: float64

In [64]:
df.loc['20130102',['A','B']].shape

(2,)

In [66]:
df.loc[dates[0],'A']

0.49671415301123267

In [67]:
# fast access
df.at[dates[0],'A']

0.49671415301123267

In [68]:
df.iloc[3] # index location

A    0.241962
B   -1.913280
C   -1.724918
D   -0.562288
Name: 2013-01-04 00:00:00, dtype: float64

In [74]:
df.iloc[3:5,0:2]

                   A         B
2013-01-04  0.241962 -1.913280
2013-01-05 -1.012831  0.314247

In [75]:
df.iloc[[1,2,4],[0,2]]

                   A         C
2013-01-02 -0.234153  1.579213
2013-01-03 -0.469474 -0.463418
2013-01-05 -1.012831 -0.908024

In [81]:
df.iloc[1:3,:]

                   A         B         C         D
2013-01-02 -0.234153 -0.234137  1.579213  0.767435
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730

In [82]:
df.iloc[:,1:3]

                   B         C
2013-01-01 -0.138264  0.647689
2013-01-02 -0.234137  1.579213
2013-01-03  0.542560 -0.463418
2013-01-04 -1.913280 -1.724918
2013-01-05  0.314247 -0.908024
2013-01-06 -0.225776  0.067528

In [84]:
df.iloc[0,0]

0.49671415301123267

In [85]:
df.iat[0,0]

0.49671415301123267

In [87]:
df[df.A < 0]

                   A         B         C         D
2013-01-02 -0.234153 -0.234137  1.579213  0.767435
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730
2013-01-05 -1.012831  0.314247 -0.908024 -1.412304

In [89]:
df[df.A >= 0]

                   A         B         C         D
2013-01-01  0.496714 -0.138264  0.647689  1.523030
2013-01-04  0.241962 -1.913280 -1.724918 -0.562288
2013-01-06  1.465649 -0.225776  0.067528 -1.424748

In [90]:
df3 = df.copy()

In [91]:
df3['E']=['one', 'one','two','three','four','three']

In [92]:
df3

                   A         B         C         D      E
2013-01-01  0.496714 -0.138264  0.647689  1.523030    one
2013-01-02 -0.234153 -0.234137  1.579213  0.767435    one
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730    two
2013-01-04  0.241962 -1.913280 -1.724918 -0.562288  three
2013-01-05 -1.012831  0.314247 -0.908024 -1.412304   four
2013-01-06  1.465649 -0.225776  0.067528 -1.424748  three

In [93]:
df3[df3['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730   two
2013-01-05 -1.012831  0.314247 -0.908024 -1.412304  four

In [94]:
s1 = pd.Series([1,2,3,4,5,6],index=pd.date_range('20130102',periods=6))

In [95]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [96]:
df3['F'] = s1

In [97]:
df3

                   A         B         C         D      E    F
2013-01-01  0.496714 -0.138264  0.647689  1.523030    one  NaN
2013-01-02 -0.234153 -0.234137  1.579213  0.767435    one  1.0
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730    two  2.0
2013-01-04  0.241962 -1.913280 -1.724918 -0.562288  three  3.0
2013-01-05 -1.012831  0.314247 -0.908024 -1.412304   four  4.0
2013-01-06  1.465649 -0.225776  0.067528 -1.424748  three  5.0

In [98]:
df.at[dates[1],'B'] = 0

In [99]:
df

                   A         B         C         D
2013-01-01  0.496714 -0.138264  0.647689  1.523030
2013-01-02 -0.234153  0.000000  1.579213  0.767435
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730
2013-01-04  0.241962 -1.913280 -1.724918 -0.562288
2013-01-05 -1.012831  0.314247 -0.908024 -1.412304
2013-01-06  1.465649 -0.225776  0.067528 -1.424748

In [100]:
df3

                   A         B         C         D      E    F
2013-01-01  0.496714 -0.138264  0.647689  1.523030    one  NaN
2013-01-02 -0.234153 -0.234137  1.579213  0.767435    one  1.0
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730    two  2.0
2013-01-04  0.241962 -1.913280 -1.724918 -0.562288  three  3.0
2013-01-05 -1.012831  0.314247 -0.908024 -1.412304   four  4.0
2013-01-06  1.465649 -0.225776  0.067528 -1.424748  three  5.0

In [101]:
df.iat[0,1] = 1

In [102]:
df

                   A         B         C         D
2013-01-01  0.496714  1.000000  0.647689  1.523030
2013-01-02 -0.234153  0.000000  1.579213  0.767435
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730
2013-01-04  0.241962 -1.913280 -1.724918 -0.562288
2013-01-05 -1.012831  0.314247 -0.908024 -1.412304
2013-01-06  1.465649 -0.225776  0.067528 -1.424748

In [109]:
df.loc[:,'G'] = np.array([5] * len(df))

In [110]:
df

                   A         B         C         D  G
2013-01-01  0.496714  1.000000  0.647689  1.523030  5
2013-01-02 -0.234153  0.000000  1.579213  0.767435  5
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730  5
2013-01-04  0.241962 -1.913280 -1.724918 -0.562288  5
2013-01-05 -1.012831  0.314247 -0.908024 -1.412304  5
2013-01-06  1.465649 -0.225776  0.067528 -1.424748  5

In [111]:
len(df)

6

In [112]:
del df['G']

In [113]:
df

                   A         B         C         D
2013-01-01  0.496714  1.000000  0.647689  1.523030
2013-01-02 -0.234153  0.000000  1.579213  0.767435
2013-01-03 -0.469474  0.542560 -0.463418 -0.465730
2013-01-04  0.241962 -1.913280 -1.724918 -0.562288
2013-01-05 -1.012831  0.314247 -0.908024 -1.412304
2013-01-06  1.465649 -0.225776  0.067528 -1.424748

In [114]:
df4 = df.copy()

In [115]:
# magic syntax, dataframe is used to apply to all elements
df4[df4 > 0] = -df4

In [116]:
df4

                   A         B         C         D
2013-01-01 -0.496714 -1.000000 -0.647689 -1.523030
2013-01-02 -0.234153  0.000000 -1.579213 -0.767435
2013-01-03 -0.469474 -0.542560 -0.463418 -0.465730
2013-01-04 -0.241962 -1.913280 -1.724918 -0.562288
2013-01-05 -1.012831 -0.314247 -0.908024 -1.412304
2013-01-06 -1.465649 -0.225776 -0.067528 -1.424748

In [128]:
df1 = df.reindex(index=dates[0:4],columns=list(df.columns) + ['E'])

In [129]:
df1.loc[dates[0]:dates[1],'E'] = 1

In [130]:
df1

                   A        B         C         D    E
2013-01-01  0.496714  1.00000  0.647689  1.523030  1.0
2013-01-02 -0.234153  0.00000  1.579213  0.767435  1.0
2013-01-03 -0.469474  0.54256 -0.463418 -0.465730  NaN
2013-01-04  0.241962 -1.91328 -1.724918 -0.562288  NaN

In [132]:
df1.dropna(how='any')

                   A        B         C         D    E
2013-01-01  0.496714  1.00000  0.647689  1.523030  1.0
2013-01-02 -0.234153  0.00000  1.579213  0.767435  1.0
2013-01-03 -0.469474  0.54256 -0.463418 -0.465730  NaN
2013-01-04  0.241962 -1.91328 -1.724918 -0.562288  NaN

In [133]:
df1.fillna(value=5)

                   A        B         C         D    E
2013-01-01  0.496714  1.00000  0.647689  1.523030  1.0
2013-01-02 -0.234153  0.00000  1.579213  0.767435  1.0
2013-01-03 -0.469474  0.54256 -0.463418 -0.465730  5.0
2013-01-04  0.241962 -1.91328 -1.724918 -0.562288  5.0

In [136]:
pd.isnull(df1)

                A      B      C      D      E
2013-01-01  False  False  False  False  False
2013-01-02  False  False  False  False  False
2013-01-03  False  False  False  False   True
2013-01-04  False  False  False  False   True