# [Movielens Project](http://www.gregreda.com/2013/10/26/using-pandas-on-the-movielens-dataset/)

In [16]:
import pandas as pd
import numpy as np

In [20]:
# pass in column names for each CSV
r_cols = ['userId', 'movieId', 'rating', 'timestamp']
ratings = pd.read_csv('ml-latest-small/ratings.csv', sep=',', encoding='utf-8')

# the movies file contains columns indicating the movie's genres
# let's only load the first five columns of the file with usecols
m_cols = ['movieId', 'title', 'genres']
movies = pd.read_csv('ml-latest-small/movies.csv', sep=',', encoding='utf-8')

# create one merged DataFrame
movie_ratings = pd.merge(movies, ratings)

In [21]:
movie_ratings.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,3.0,851866703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,9,4.0,938629179
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,5.0,1331380058
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15,2.0,997938310
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,3.0,855190091

In [22]:
most_rated = movie_ratings.groupby('title').size().sort_values(ascending=False)[:25]

In [23]:
most_rated

title
Forrest Gump (1994)                                                               341
Pulp Fiction (1994)                                                               324
Shawshank Redemption, The (1994)                                                  311
Silence of the Lambs, The (1991)                                                  304
Star Wars: Episode IV - A New Hope (1977)                                         291
Jurassic Park (1993)                                                              274
Matrix, The (1999)                                                                259
Toy Story (1995)                                                                  247
Schindler's List (1993)                                                           244
Terminator 2: Judgment Day (1991)                                                 237
Star Wars: Episode V - The Empire Strikes Back (1980)                             234
Braveheart (1995)                                                                 228
Back to the Future (1985)                                                         226
Fargo (1996)                                                                      224
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    220
American Beauty (1999)                                                            220
Independence Day (a.k.a. ID4) (1996)                                              218
Star Wars: Episode VI - Return of the Jedi (1983)                                 217
Aladdin (1992)                                                                    215
Fugitive, The (1993)                                                              213
Dances with Wolves (1990)                                                         202
Fight Club (1999)                                                                 202
Seven (a.k.a. Se7en) (1995)                                                       201
Usual Suspects, The (1995)                                                        201
Apollo 13 (1995)                                                                  200
dtype: int64

In [24]:
movie_ratings.title.value_counts()[:25]

Forrest Gump (1994)                                                               341
Pulp Fiction (1994)                                                               324
Shawshank Redemption, The (1994)                                                  311
Silence of the Lambs, The (1991)                                                  304
Star Wars: Episode IV - A New Hope (1977)                                         291
Jurassic Park (1993)                                                              274
Matrix, The (1999)                                                                259
Toy Story (1995)                                                                  247
Schindler's List (1993)                                                           244
Terminator 2: Judgment Day (1991)                                                 237
Star Wars: Episode V - The Empire Strikes Back (1980)                             234
Braveheart (1995)                                                                 228
Back to the Future (1985)                                                         226
Fargo (1996)                                                                      224
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    220
American Beauty (1999)                                                            220
Independence Day (a.k.a. ID4) (1996)                                              218
Star Wars: Episode VI - Return of the Jedi (1983)                                 217
Aladdin (1992)                                                                    215
Fugitive, The (1993)                                                              213
Fight Club (1999)                                                                 202
Dances with Wolves (1990)                                                         202
Seven (a.k.a. Se7en) (1995)                                                       201
Usual Suspects, The (1995)                                                        201
Lord of the Rings: The Fellowship of the Ring, The (2001)                         200
Name: title, dtype: int64

In [25]:
movie_stats = movie_ratings.groupby('title').agg({'rating': [np.size, np.mean]})
movie_stats.head()

                                        rating
                                          size      mean
title
"Great Performances" Cats (1998)           2.0  1.750000
$9.99 (2008)                               3.0  3.833333
'Hellboy': The Seeds of Creation (2004)    1.0  2.000000
'Neath the Arizona Skies (1934)            1.0  0.500000
'Round Midnight (1986)                     2.0  2.250000

In [26]:
movie_stats.sort_values([('rating', 'mean')], ascending=False).head()

                                                   rating
                                                     size mean
title
Ivan Vasilievich: Back to the Future (Ivan Vasi...    1.0  5.0
Alien Escape (1995)                                   1.0  5.0
Boiling Point (1993)                                  1.0  5.0
Bone Tomahawk (2015)                                  1.0  5.0
Borgman (2013)                                        1.0  5.0

In [33]:
atleast_100 = movie_stats['rating']['size'] >= 100
movie_stats[atleast_100].sort_values([('rating', 'mean')], ascending=False)[:15]

                                                   rating
                                                     size      mean
title
Godfather, The (1972)                               200.0  4.487500
Shawshank Redemption, The (1994)                    311.0  4.487138
Godfather: Part II, The (1974)                      135.0  4.385185
Usual Suspects, The (1995)                          201.0  4.370647
Schindler's List (1993)                             244.0  4.303279
One Flew Over the Cuckoo's Nest (1975)              144.0  4.256944
Fargo (1996)                                        224.0  4.256696
Pulp Fiction (1994)                                 324.0  4.256173
American Beauty (1999)                              220.0  4.236364
Dark Knight, The (2008)                             121.0  4.235537
Casablanca (1942)                                   117.0  4.235043
Star Wars: Episode V - The Empire Strikes Back ...  234.0  4.232906
Memento (2000)                                      132.0  4.227273
Taxi Driver (1976)                                  118.0  4.224576
Monty Python and the Holy Grail (1975)              145.0  4.224138

In [35]:
# The SQL equivalent would be:

# SELECT title, COUNT(1) size, AVG(rating) mean
# FROM lens
# GROUP BY title
# HAVING COUNT(1) >= 100
# ORDER BY 3 DESC
# LIMIT 15;
movie_stats = movie_ratings.groupby('title').agg({'rating': [np.size, np.mean]})
atleast_100 = movie_stats['rating']['size'] >= 100
movie_stats[atleast_100].sort_values([('rating', 'mean')], ascending=False)[:15]

                                                   rating
                                                     size      mean
title
Godfather, The (1972)                               200.0  4.487500
Shawshank Redemption, The (1994)                    311.0  4.487138
Godfather: Part II, The (1974)                      135.0  4.385185
Usual Suspects, The (1995)                          201.0  4.370647
Schindler's List (1993)                             244.0  4.303279
One Flew Over the Cuckoo's Nest (1975)              144.0  4.256944
Fargo (1996)                                        224.0  4.256696
Pulp Fiction (1994)                                 324.0  4.256173
American Beauty (1999)                              220.0  4.236364
Dark Knight, The (2008)                             121.0  4.235537
Casablanca (1942)                                   117.0  4.235043
Star Wars: Episode V - The Empire Strikes Back ...  234.0  4.232906
Memento (2000)                                      132.0  4.227273
Taxi Driver (1976)                                  118.0  4.224576
Monty Python and the Holy Grail (1975)              145.0  4.224138